Repository palpito-hunch/ai-rules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(claude): add template-specific claude files
  .kiro/sync-manifest.yml
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: prettier --write

feat(claude): add template-specific claude files (#12)
  .kiro/sync-manifest.yml
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: prettier --write

docs(adr): add adr-0004 centralized rules for distributed teams
  .kiro/memory/decisions/0004-centralized-rules-for-distributed-teams.md
  .kiro/memory/decisions/README.md
Due: none

docs(adr): add adr-0004 centralized rules for distributed teams (#13)
  .kiro/memory/decisions/0004-centralized-rules-for-distributed-teams.md
  .kiro/memory/decisions/README.md
Due: none

docs(claude): add mandatory rule for creating projects from templates
  CLAUDE.backend.md
  CLAUDE.frontend.md
  CLAUDE.md
Due: none

docs(claude): add mandatory rule for creating projects from templates (#14)
  CLAUDE.backend.md
  CLAUDE.frontend.md
  CLAUDE.md
Due: none

chore: remove irrelevant workflows and generic claude.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync-from-template.yml
  CLAUDE.md
Due: prettier --write

chore: remove irrelevant workflows and generic claude.md (#15)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync-from-template.yml
  CLAUDE.md
Due: prettier --write

chore: remove npm configuration from documentation repo
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  commitlint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: simplify npm config for documentation repo
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: simplify npm config for documentation repo (#17)
  .lintstagedrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat(release): restore semantic versioning for ai-rules
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

feat(release): restore semantic versioning for ai-rules (#18)
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  68bc9fc5d4358a2618e6ed752ab7c256698402f1
Due: none

docs(adr): update adr-002 to reflect current architecture
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
Due: none

docs(adr): update adr-002 to reflect current architecture (#19)
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
Due: none

feat(rules): add mandatory adr compliance rule
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: none

feat(rules): add mandatory adr compliance rule (#20)
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  acdbb6a2acb098480f8b228251ac94394764e4f3
Due: none

docs: update readme to reflect current architecture
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
  README.md
Due: none

docs: update readme to reflect current architecture (#21)
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
  README.md
Due: none

feat(claude): add global claude code settings and install script
  CLAUDE.backend.md
  CLAUDE.frontend.md
  CLAUDE.global.md
  README.md
  scripts/install.sh
Due: none

feat(claude): add global claude code settings and install script (#22)
  CLAUDE.backend.md
  CLAUDE.frontend.md
  CLAUDE.global.md
  README.md
  scripts/install.sh
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6af1c91fdc30617a73434cbbbe6d5cc528b6cfdf
Due: none

feat(install): add mcp credentials setup to install script
  .mcp.json
  scripts/install.sh
Due: prettier --write

feat(install): add mcp credentials setup to install script (#23)
  .mcp.json
  scripts/install.sh
Due: prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  40a4ecfd0ea03ebc1b46eba436b97251c04ac0c0
Due: none

feat(security): add owasp and security standards
  .kiro/standards/security/api-security.md
  .kiro/standards/security/frontend-security.md
  .kiro/standards/security/input-validation.md
  .kiro/standards/security/owasp.md
  .kiro/sync-manifest.yml
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: prettier --write

feat(security): add owasp and security standards (#24)
  .kiro/standards/security/api-security.md
  .kiro/standards/security/frontend-security.md
  .kiro/standards/security/input-validation.md
  .kiro/standards/security/owasp.md
  .kiro/sync-manifest.yml
  CLAUDE.backend.md
  CLAUDE.frontend.md
Due: prettier --write

Notes added by 'git notes add'
  ebbe948eaca078f6c68a34303787c75a98dd8a7b
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(security): add security red flags to global claude settings
  CLAUDE.global.md
Due: none

feat(security): add security red flags to global claude settings (#25)
  CLAUDE.global.md
Due: none

Notes added by 'git notes add'
  53d0d1d0386c7aef49b25d879fb530ed1ce4a2cb
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(global): add debugging and rca guidelines
  CLAUDE.global.md
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,yml,yaml})
