Repository palpito-hunch/ai-rules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add auto-generated files to gitignore
  .gitignore
  next-env.d.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

chore: remove empty placeholder files
  .kiro/standards/core/coding-standards.md
  .kiro/standards/workflows/code-review-checklist.md
  .kiro/standards/workflows/race-conditions.md
  .kiro/standards/workflows/testing.md
Due: none

chore: add .gitkeep to preserve workflows directory
  .kiro/standards/workflows/.gitkeep
Due: none

docs(standards): add missing coding principles and update references
  .kiro/standards-config.yml
  .kiro/standards/README.md
  .kiro/standards/core/priority-framework.md
  .kiro/standards/core/when-not-to-apply.md
  .kiro/standards/quick-reference.md
  CLAUDE.md
Due: prettier --write

docs(standards): add law of demeter principle
  .kiro/standards/core/priority-framework.md
  .kiro/standards/core/when-not-to-apply.md
  .kiro/standards/quick-reference.md
Due: none

feat(release): add slack notification for new releases
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b823dc4d80a00496c8cf47ffa6382b9ed09e32d6
Due: none

docs: add slack release notification documentation
  README.md
Due: none

revert: remove slack notification feature
  .github/workflows/release.yml
  README.md
Due: prettier --write

docs(standards): add approach validation before implementation
  .kiro/standards/core/priority-framework.md
  .kiro/standards/quick-reference.md
Due: none

feat(release): add prerelease tags for develop and uat branches
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .kiro/standards/quick-reference.md
  .releaserc.json
  README.md
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8ef99a82ab58709283bbe3801e2f1c0874d634c9
Due: none

fix: correct garbled utf-8 emoji characters in standards docs
  .kiro/standards/core/priority-framework.md
  .kiro/standards/core/when-not-to-apply.md
  .kiro/standards/domain/comments.md
  .kiro/standards/domain/errors.md
  .kiro/standards/domain/file-organization.md
  .kiro/standards/domain/performance.md
  .kiro/standards/quick-reference.md
Due: none

Notes added by 'git notes add'
  998c7f87aebf41268bd7a5e26fa94335c42b6b57
Due: none

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(lint): align eslint and typescript config with coding standards
  eslint.config.mjs
  src/pages/api/health.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(standards): add AI behavior guidelines and TypeScript standards
  .kiro/standards-config.yml
  .kiro/standards/README.md
  .kiro/standards/core/ai-behavior.md
  .kiro/standards/typescript/architecture.md
  .kiro/standards/typescript/style.md
Due: prettier --write

docs(standards): add eslint and typescript config examples
  .kiro/standards/typescript/architecture.md
  .kiro/standards/typescript/style.md
Due: none

feat(ai): add AI code generation improvements
  .kiro/docs/ai-code-generation-improvements.md
  .kiro/memory/decisions.md
  .kiro/memory/glossary.yml
  .kiro/specs/components/.gitkeep
  .kiro/specs/features/.gitkeep
  .kiro/standards-config.yml
  .kiro/standards/README.md
  .kiro/standards/libraries/nextjs.md
  .kiro/standards/libraries/prisma.md
  .kiro/standards/libraries/zod.md
  .kiro/templates/feature-spec.md
  .kiro/validation/rules.yml
  .mcp.json
Due: prettier --write

docs: add comprehensive guide for new AI improvements
  .kiro/docs/whats-new-guide.md
Due: none

feat(ai): add AI code generation improvements (#3)
  .kiro/docs/ai-code-generation-improvements.md
  .kiro/docs/whats-new-guide.md
  .kiro/memory/decisions.md
  .kiro/memory/glossary.yml
  .kiro/specs/components/.gitkeep
  .kiro/specs/features/.gitkeep
  .kiro/standards-config.yml
  .kiro/standards/README.md
  .kiro/standards/libraries/nextjs.md
  .kiro/standards/libraries/prisma.md
  .kiro/standards/libraries/zod.md
  .kiro/templates/feature-spec.md
  .kiro/validation/rules.yml
  .mcp.json
Due: prettier --write

refactor: convert to AI rules-only repository
  .dockerignore
  .env.example
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml
  docs/adr/template.md
  docs/api/README.md
  docs/design.md
  docs/requirements.md
  docs/tasks.md
  eslint.config.mjs
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  setup.sh
  src/__tests__/index.test.ts
  src/index.ts
  src/pages/api/health.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: convert to AI rules-only repository (#4)
  .dockerignore
  .env.example
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml
  docs/adr/template.md
  docs/api/README.md
  docs/design.md
  docs/requirements.md
  docs/tasks.md
  eslint.config.mjs
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  setup.sh
  src/__tests__/index.test.ts
  src/index.ts
  src/pages/api/health.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat(steering): add Kiro steering files that reference standards
  .kiro/specs/.gitkeep
  .kiro/specs/components/.gitkeep
  .kiro/specs/features/.gitkeep
  .kiro/steering/core-standards.md
  .kiro/steering/error-standards.md
  .kiro/steering/nextjs-standards.md
  .kiro/steering/prisma-standards.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .kiro/steering/testing-standards.md
  .kiro/steering/typescript-standards.md
  .kiro/steering/zod-standards.md
  CLAUDE.md
Due: none

feat(steering): add Kiro steering files that reference standards (#5)
  .kiro/specs/.gitkeep
  .kiro/specs/components/.gitkeep
  .kiro/specs/features/.gitkeep
  .kiro/steering/core-standards.md
  .kiro/steering/error-standards.md
  .kiro/steering/nextjs-standards.md
  .kiro/steering/prisma-standards.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .kiro/steering/testing-standards.md
  .kiro/steering/typescript-standards.md
  .kiro/steering/zod-standards.md
  CLAUDE.md
Due: none

docs: add git workflow rule to CLAUDE.md and ai-behavior.md
  .kiro/standards/core/ai-behavior.md
  CLAUDE.md
Due: none

docs: add git workflow rule to CLAUDE.md and ai-behavior.md (#6)
  .kiro/standards/core/ai-behavior.md
  CLAUDE.md
Due: none

fix: remove outdated directory patterns from standards-config.yml
  .kiro/standards-config.yml
Due: prettier --write

fix: remove outdated directory patterns from standards-config.yml (#7)
  .kiro/standards-config.yml
Due: prettier --write

fix(husky): remove npm audit from pre-commit hook
  .husky/pre-commit
Due: none

fix(husky): remove npm audit from pre-commit hook (#8)
  .husky/pre-commit
Due: none

docs(adr): add centralized ai rules architecture decision
  .kiro/memory/decisions.md
Due: none

docs(adr): add centralized ai rules architecture decision (#9)
  .kiro/memory/decisions.md
Due: none

refactor(adr): split adrs into separate files per industry standard
  .kiro/docs/ai-code-generation-improvements.md
  .kiro/docs/whats-new-guide.md
  .kiro/memory/decisions/0001-use-nextjs-app-router.md
  .kiro/memory/decisions/0002-use-prisma-for-database.md
  .kiro/memory/decisions/0003-layered-architecture.md
  .kiro/memory/decisions/0004-zod-for-runtime-validation.md
  .kiro/memory/decisions/0005-strict-typescript-configuration.md
  .kiro/memory/decisions/0006-eslint-with-type-aware-rules.md
  .kiro/memory/decisions/0007-semantic-versioning-with-conventional-commits.md
  .kiro/memory/decisions/0008-centralized-ai-rules-architecture.md
  .kiro/memory/decisions/README.md
  .kiro/memory/decisions/template.md
  .kiro/standards-config.yml
  .kiro/standards/README.md
  CLAUDE.md
  README.md
Due: prettier --write

refactor(adr): remove template-specific adrs, keep repo-specific decisions
  .kiro/docs/whats-new-guide.md
  .kiro/memory/decisions/0001-semantic-versioning-with-conventional-commits.md
  .kiro/memory/decisions/0001-use-nextjs-app-router.md
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
  .kiro/memory/decisions/0002-use-prisma-for-database.md
  .kiro/memory/decisions/0003-layered-architecture.md
  .kiro/memory/decisions/0004-zod-for-runtime-validation.md
  .kiro/memory/decisions/0005-strict-typescript-configuration.md
  .kiro/memory/decisions/0006-eslint-with-type-aware-rules.md
  .kiro/memory/decisions/README.md
Due: none

refactor(adr): split adrs into separate files per industry standard (#10)
  .kiro/docs/ai-code-generation-improvements.md
  .kiro/docs/whats-new-guide.md
  .kiro/memory/decisions/0001-semantic-versioning-with-conventional-commits.md
  .kiro/memory/decisions/0002-centralized-ai-rules-architecture.md
  .kiro/memory/decisions/README.md
  .kiro/memory/decisions/template.md
  .kiro/standards-config.yml
  .kiro/standards/README.md
  CLAUDE.md
  README.md
Due: prettier --write

feat(sync): add manifest-based template sync
  .kiro/memory/decisions/0003-manifest-based-template-sync.md
  .kiro/memory/decisions/README.md
  .kiro/sync-manifest.yml
Due: prettier --write

feat(sync): add manifest-based template sync (#11)
  .kiro/memory/decisions/0003-manifest-based-template-sync.md
  .kiro/memory/decisions/README.md
  .kiro/sync-manifest.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,yml,yaml})
